# Always ignore
.DS_Store
*.swp
.ipynb_checkpoints/
*.pyc
*.html
*.pdf
tags
.initialized
local.mk

# Ignore these directories
res/*
seq/*
raw/*
meta/*
tre/*
img/*
profile_default/*
fig/
venv/
packages/

# But white-list these files
!*/README.md
!*/NOTES.md
!profile_default/*config.py
