# Just to shut-up that damned warning message.
pip>=6.1.1

# Standard part of projects, but not _entirely_ necessary.
ipython[notebook]>=3.1

# Common tools for working with sequence data
# -e flag makes it editable:
# installing with `pip install --src packages -r requirements.txt`
# will result in a local copy of the repository in that directory.
-e git+https://github.com/bsmith89/compbio-scripts.git#egg=sequtils

# For generating makefile figures.
networkx
git+https://github.com/pygraphviz/pygraphviz.git#egg=pygraphviz
